<div class="row">
  <div class="col-md-12"><%= render 'layouts/nav' %></div>
 </div>

<div class="row spacer">
	<div class="col-md-2"><button type="button" class="btn btn-default">For Lease</button></div>
	<div class="col-md-2"><button type="button" class="btn btn-lg">For Sale</button></div>
	<div class="col-md-2"><button type="button" class="btn btn-lg">Large button</button></div>
	<div class="col-md-2"><button type="button" class="btn btn-lg">Large button</button></div>
	<div class="col-md-2"><button type="button" class="btn btn-lg">Large button</button></div>
</div>