<%= render 'layouts/nav' %>
  <div class="container">
    <p>
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">New Listings</h3>
  			</div>
  
  		<div class="panel-body">
    		<img class="pull-left" src="http://placehold.it/150x150"/>

    		<address>
  <strong>Listing Broker.</strong><br>
  Cornish & Carey Commercial<br>
  <abbr title="Phone">P:</abbr> (408) 987-4193
</address>

<address>
  <strong>Jason Forcier</strong><br>
  <a href="mailto:#">jforcier@ccareynkf.com</a>
</address>



    		<table class="table table-striped">
    			<tbody>   
          <tr> 
            <td><strong>Address</strong></td>  
            <td>2084 Mission College Blvd</td>  
          <tr/>  
          <tr>  
            <td><strong>City</strong></td>  
            <td>Santa Clara</td>    
          </tr> 
          <tr>  
            <td><strong>Available SF</strong></td>  
            <td>10,000SF</td>   
          </tr>  
          <tr>  
            <td><strong>Asking Rate</strong></td>  
            <td>$2.50 Full Service</td>  
          </tr>
          <tr>
          	<td><strong> Notes </strong></td>
          	<td> New, creative space. Available in June </td>
          </tr>  
        </tbody>  
      </table> 
			